.category-bar {
  background-color: rgb(47, 118, 109);
  height: 11rem;
  text-align: center;
}

.category-bar h4 {
  margin-top: 0.3rem;
}

div.ui.container img {
  width: 8rem;
  height: 8rem;
  border-radius: 500px;
}

.featurebar-text {
  font-size: 2rem;
  color: white;
  padding-top: 3rem;
}

.featurebar-text p {
  margin: 0;
  font-size: 1.5rem;
}

.featurebar-text p:nth-child(2) {
  margin-left: 11rem;
  margin-top: 1rem;
}

.text-enlarge {
  font-size: 2.7rem;
}

#category-buttons {
  width: 38rem;
  height: 10rem;
  margin: auto;
}

@media (max-width: 480px) {
  div.ui.container img {
    width: 6rem;
    height: 6rem;
  }
}
