.category-bar {
  background-color: rgb(47, 118, 109);
  height: 16rem;
  text-align: center;
}

.category-bar h4 {
  margin-top: 0.3rem;
}

div.ui.container img {
  width: 8rem;
  height: 8rem;
  border-radius: 500px;
}

div.ui.container h2 {
  padding-top: 1rem;
  margin-bottom: 2rem;
}

div.ui.container:nth-child(1) {
  color: white;
}

#category-buttons {
  width: 38rem;
  height: 10rem;
  margin: auto;
}

@media (max-width: 480px) {
  div.ui.container img {
    width: 6rem;
    height: 6rem;
  }
}
